@model NiceRequestModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://static.barunsoncard.com/barunnfamily/logo/shortcut.ico">
    <title>@ViewData["Title"]</title>
</head>
<body>
	<form name="frmNiceCheck" method="post" action="@Model.NiceCheckUri">
		<input type="hidden" name="token_version_id" value="@Model.NiceRequest.TokenVersionId" />
		<input type="hidden" name="enc_data" value="@Model.NiceRequest.EncData" />
		<input type="hidden" name="integrity_value" value="@Model.NiceRequest.IntegrityValue" />
		<input type="hidden" name="param_popup_yn" value="Y" />
		<input type="hidden" name="m" value="service" />
	</form>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script>
		$(function () {
			$("form[name=frmNiceCheck]").trigger("submit");
		});
	</script>
</body>
</html>