@model MemberModModel
@section Styles {
    <link href="~/lib/datepicker/datepicker.min.css" rel="stylesheet" />
    <link href="~/css/datepicker_custom.css" rel="stylesheet" />
    <link href="~/css/jconfirm_custom.css" rel="stylesheet" />
    <style>
        .validesummary {
            display: none;
        }
    </style>
}
<partial name="~/Views/Shared/_HeaderPartial.cshtml" for="RefererSite" />
<section class="register">
    <div class="area">
        <div class="register_contents_wrap contents_box">
            <div class="register_title">
                <h1>바른 ONE 개인정보수정</h1>
            </div>
            <div class="title_info_box">
                <p>서비스 제공과 상품 발송을 위해 정확한 정보입력을 부탁 드립니다.</p>
                <p>바른컴퍼니는 고객님의 개인정보를 소중히 생각하며, 개인정보 관련법령을 철저히 준수합니다.</p>
            </div>
            <div class="required_box">
                <span class="required"></span> 표시는 필수 항목입니다
            </div>
            <div class="register_contents">
                <form asp-action="ModifySave" method="post" class="frmMod">
                    @Html.AntiForgeryToken()
                    <ul class="register_contents_list">
                        <li>
                            <h3 class="required"><label asp-for="Name"></label></h3>
                            <div class="register_box">
                                @Model.Name
                                <input asp-for="Name" type="hidden"/>
                            </div>
                        </li>
                        <li>
                            <h3 class="required"><label asp-for="RegisterDate"></label></h3>
                            <div class="register_box">
                                @Model.RegisterDate.ToString("yyyy-MM-dd")
                                <input asp-for="RegisterDate" type="hidden" />
                            </div>
                        </li>
                        <li>
                            <h3 class="required"><label asp-for="BirthDay"></label></h3>
                            <div class="register_box">
                                <div class="grid_box type_date">
                                    <div>
                                        <input asp-for="BirthDay" type="text" readonly="readonly" data-toggle="datepicker" />
                                        <span asp-validation-for="BirthDay"></span>
                                    </div>
                                    <div class="form_radio">
                                        @foreach (var rd in Model.SolarOrLunarSelect)
                                        {
                                            <input type="radio" asp-for="SolarOrLunar" value="@rd.Value" id="SolarOrLunar_@rd.Value" />
                                            <label for="SolarOrLunar_@rd.Value">@rd.Text</label>
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h3 class="required"><label asp-for="UserId"></label></h3>
                            <div class="register_box">
                                @Model.UserId
                                <input asp-for="UserId" type="hidden" />
                            </div>
                        </li>
                        <li>
                            <h3 class="required"><label asp-for="Password"></label></h3>
                            <div class="register_box">
                                <input asp-for="Password" />
                                <span asp-validation-for="Password"></span>
                            </div>
                        </li>
                        <li>
                            <h3 class="required"><label asp-for="PasswordConfirm"></label></h3>
                            <div class="register_box">
                                <input asp-for="PasswordConfirm" />
                                <span asp-validation-for="PasswordConfirm"></span>
                            </div>
                        </li>
                        <li>
                            <h3 class="required"><label asp-for="PostCode"></label></h3>
                            <div class="register_box">
                                <div class="grid_box type02">
                                    <input asp-for="PostCode" readonly="readonly" class="post-postcode1" />
                                    <div class="btn_box">
                                        <button type="button" id="btnSearchPost" class="btn type01" postcode-index="0" postcode-type="zonecode" postcode-input-cnt="1">우편번호 검색</button>
                                    </div>
                                </div>
                                <div>
                                    <input asp-for="Address" class="post-address" readonly="readonly" />
                                    <span asp-validation-for="PostCode"></span>
                                </div>
                                <div>
                                    <input asp-for="AddressDetail" />
                                    <span asp-validation-for="AddressDetail"></span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h3><label asp-for="TelNo1"></label></h3>
                            <div class="register_box">
                                <div class="grid_box type03">
                                    <select asp-for="TelNo1" asp-items="@Model.TelNo1Select"></select>
                                    <input asp-for="TelNo2" />
                                    <input asp-for="TelNo3" />
                                </div>
                                <span asp-validation-for="TelNo2"></span>
                                <span asp-validation-for="TelNo3"></span>
                            </div>
                        </li>
                        <li>
                            <h3 class="required"><label asp-for="MoTelNo1"></label></h3>
                            <div class="register_box">
                                <div class="grid_box type03">
                                    <select asp-for="MoTelNo1" asp-items="@Model.MoTelNo1Select"></select>
                                    <input asp-for="MoTelNo2" />
                                    <input asp-for="MoTelNo3" />
                                    
                                </div>
                                <span asp-validation-for="MoTelNo2"></span>
                                <span asp-validation-for="MoTelNo3"></span>
                                <div class="form_checkbox">
                                    <input type="checkbox" asp-for="CheckSMS" class="policyCheck" />
                                    <label asp-for="CheckSMS"></label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h3 class="required"><label asp-for="Email"></label></h3>
                            <div class="register_box">
                                <input asp-for="Email" />
                                <span asp-validation-for="Email"></span>
                                <div class="form_checkbox mt10">
                                    <input type="checkbox" asp-for="CheckEMail" class="policyCheck" />
                                    <label asp-for="CheckEMail"></label>
                                    
                                </div>
                                <span class="form_box_text">카드주문 시 진행상황을 이메일과 SMS로 전달해드리므로 정확히 입력 바랍니다.</span>
                            </div>
                        </li>
                        <li>
                            <h3 class="required"><label asp-for="WeddingDay"></label></h3>
                            <div class="register_box">
                                <input asp-for="WeddingDay" type="text" readonly="readonly" data-toggle="datepicker" />
                                <span asp-validation-for="WeddingDay"></span>
                            </div>
                        </li>
                        <li>
                            <h3 class="required pt0"><label asp-for="WeddingHallType"></label></h3>
                            <div class="register_box">
                                <div class="form_radio">
                                    <ul class="form_radio_list">
                                        @foreach (var item in Model.WeddingHallTypeSelect)
                                        {
                                            <li>
                                                <input type="radio" asp-for="WeddingHallType" value="@item.Value" id="WeddingHallType_@item.Value" />
                                                <label for="WeddingHallType_@item.Value">@item.Text</label>
                                            </li>
                                        }
                                    </ul>
                                    <span asp-validation-for="WeddingHallType"></span>
                                </div>

                            </div>
                        </li>
                        <li>
                            <h3><label asp-for="WeddingHallName"></label></h3>
                            <div class="register_box">
                                <input asp-for="WeddingHallName" />
                                <span asp-validation-for="WeddingHallName"></span>
                            </div>
                        </li>
                    </ul>
                    <input type="hidden" asp-for="ViewType" />
                    <input type="hidden" asp-for="CertId" />
                    <input type="hidden" asp-for="ReturnUrl" class="returnUrl" />
                    <input type="hidden" asp-for="SaveSuccess" class="saveSuccess" value="@Model.SaveSuccess.ToString()" />
                    <div asp-validation-summary="All" class="validesummary"></div>
                </form>
               
            </div>
        </div>
        <div class="register_complete">
            <div class="register_section">
                <div class="btn_box big">
                    <button type="button" class="btn type02 save_btn">완료하기</button>
                    <button type="button" class="btn type01 cancel_btn">취소하기</button>
                </div>
                @if (!string.IsNullOrEmpty(Model.ValidMessage))
                {
                    <div>
                        <span class="field-validation-error">@Model.ValidMessage</span>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/datepicker/datepicker.min.js"></script>
    <script src="~/lib/datepicker/i18n/datepicker.ko-kr.min.js"></script>
    <script src='https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js'></script>
    <script src="~/js/daumpostcode.js" asp-append-version="true"></script>

    <script>
        $(function () {

            $('[data-toggle="datepicker"]').datepicker({
                language: 'ko-KR',
                format: 'yyyy-mm-dd',
                autoHide: true
            });


            $('#btnSearchPost').on('click', function () {
                $(this).postcode();
                return false;
            });


            $('.save_btn').on('click', function () {
                var check = $('.frmMod').valid();
                console.log('form vaild check:' + check);
                if (check) {
                    var conf = {
                        title: "",
                        typeAnimated: true,
                        boxWidth: '80%',
                        useBootstrap: false,
                        content: '수정된 내용을 저장하시겠습니까?',
                        buttons: {
                            "예": {
                                btnClass: 'btn-blue',
                                action: function () {
                                    $('.frmMod').trigger('submit');
                                },
                            },
                            "아니요": {
                                action: function () {
                                }
                            }
                        }
                    };
                    $.confirm(conf);
                } else {
                    var conf = {
                        title: "",
                        typeAnimated: true,
                        boxWidth: '80%',
                        useBootstrap: false,
                        content: $(".validesummary").html(),
                        buttons: {
                            "확인": {
                                btnClass: 'btn-blue'
                            }
                        }
                    };
                    $.confirm(conf);
                }
            });

            $('.cancel_btn').on('click', function () {
                window.close();
            });

            if ($('.saveSuccess').val() == "True") {
                var conf = {
                    title: "",
                    typeAnimated: true,
                    boxWidth: '80%',
                    useBootstrap: false,
                    content: "수정되었습니다",
                    buttons: {
                        "확인": {
                            btnClass: 'btn-blue',
                            action: function () {
                                var rurl = $('.returnUrl').val();
                                if (rurl == "") {
                                    window.close();
                                } else {
                                    if (window.opener != null) {
                                        window.opener.location.href = rurl;
                                        window.close();
                                    } else {
                                        window.location.href = rurl;
                                    }
                                }
                            }
                        }
                    }
                };
                $.confirm(conf);
            }
        });

    </script>
}